body {
background-color: #ffffff;
color: rgb(11, 11, 11);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #f80707;
color: rgb(160, 40, 40);
font-family: "Bai Jamjuree", sans-serif;
}