body {
background-color: #d71010;
color: rgb(11, 11, 11);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #b7b4b4;
color: rgb(37, 59, 157);
font-family: "Bai Jamjuree", sans-serif;
}